html, body {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;

	height: 100%;

	background-color: #000000;

	background-repeat: no-repeat;
	background-size: cover;
}


#canvas {
	/* width: 100%; */
	/* height: 100%; */

	position: fixed;

	z-index: -1;
}



.section-page-root {
	width: 100%;
	height: 100%;

	/* Center all content */
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-content-root {
	width: 16em;
	height: 100%;

	display: flex;
	justify-content: center;

	background-color: #0a0a0a;

	filter: drop-shadow(0 0 0.75em #0a0a0a);
}


.project-item {
	margin: 3em;

	padding: 0.5em;

	width: 10em;
	height: 6em;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #2b2b2b;

	transition: all 200ms ease-in-out;

	user-select: none;
}


.project-item:hover {
	background-color: #202020;

	transform: scale(1.1);
	color: #a0a0a0;
}


.project-item-text {
	color: #d0d0d0;

	font-weight: 800;
	font-size: 1.1em;
}


a { text-decoration: none; }
a:visited { text-decoration: none; }


#scare-project:hover { color: rgb(56, 50, 163); }
#scare-project:hover::before { content: "“"; }
#scare-project:hover::after { content: "”"; }

#monster-project:hover { color: rgb(163, 50, 63); }
#bubblewrap-project:hover { color: rgb(105, 95, 230); }
#hacking-project:hover { color: rgb(58, 173, 63); }
#circledraw-project:hover { color: rgb(139, 44, 92); }

canvas {
	display: inline;
	opacity: 0%;
}
